.margin-bottom-small {
	margin-bottom: 1rem;
}

.margin-bottom-medium {
	margin-bottom: 1.5rem;
}

.margin-bottom-big {
	margin-bottom: 2rem;
}

.padding-y-medium {
	padding: 1.5rem 0rem;
}

.padding-bottom-medium {
	padding-bottom: 1.5rem;
}