.select {
	padding: 2rem 3rem;
	height: 36px;
	border: none;
	font-size: 1.75rem;
	outline: none;
	opacity: .85;

	&--bigger {
		width: 246.5px;
	}

	&--smaller {
		width: 180px;
	}
}

.btn {
	padding: 8px 24px;
	font-size: 1.7rem;
	cursor: pointer;
	outline: none;
	border-radius: 16px;

	&--green {
		background-color: $green;
		color: $white;
		transition: all ease-out .3s;
		border: none;

		&:hover {
			background-color: $green-hover;
		}
	}
}

@media (max-width: 880px) {
	.select {
		&--bigger {
			width: 100%;
		}

		&--smaller {
			width: 100%;
		}
	}
}