.account-area {
	min-height: 85vh;
	align-items: center;
	flex-direction: row;
	background-color: $light-grey;
	padding: 10rem 1rem 0rem;

	&,
	&__content-box,
	&__1-of-3,
	&__2-of-3 {
		display: flex;
		justify-content: center;
	}

	&__content-box {
		max-width: 1350px;
		width: 100%;
		padding: 3rem 1rem 5rem;
	}

	&__1-of-3,
	&__2-of-3 {
		flex-direction: column;
	}

	&__1-of-3 {
		width: 32%;
	}

	&__2-of-3 {
		width: 64%;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 1.5rem;
		padding-left: 2px;

		& h2 {
			color: red;
			font-weight: bold;
			font-size: 1.75rem;
		}
	}
}