.account-area {
	min-height: 85vh;
	align-items: center;
	flex-direction: row;
	background-color: $light-grey;
	padding: 10rem 1rem 0rem;

	&,
	&__content-box,
	&__1-of-3,
	&__2-of-3 {
		display: flex;
		justify-content: center;
	}


	&.add-error &__error-field {
		display: block;
		opacity: 1;
	}

	&__error-field {
		max-width: 450px;
		text-align: center;
		padding: 0.5rem 1rem;
		background-color: red;
		border-radius: 16px;
		color: #fff;
		margin-top: 1.5rem;
		text-align: center;
		display: none;
		opacity: 0;
		transition: all .2s ease-in-out;
	}

	&.add-success &__success-field {
		display: block;
		opacity: 1;
	}

	&__success-field {
		max-width: 450px;
		text-align: center;
		padding: 0.5rem 1rem;
		background-color: $succes-green;
		border-radius: 16px;
		color: #fff;
		margin-top: 1.5rem;
		text-align: center;
		display: none;
		opacity: 0;
		transition: all .2s ease-in-out;
	}

	&__content-box {
		max-width: 1350px;
		width: 100%;
		padding: 3rem 1rem 5rem;
		align-items: baseline;

		& .account-area__2-of-3 .account-area__title h2 {
			margin-left: 3rem;

			@include smallScreen {
				margin-left: 0;
			}
		}

		@include smallScreen {
			flex-direction: column;
		}
	}

	&__1-of-3,
	&__2-of-3 {
		flex-direction: column;
	}

	&__1-of-3 {
		flex: 1;

		@include smallScreen {
			width: 100%;
			align-items: center;
		}
	}

	&__2-of-3 {
		flex-direction: column;
		flex: 2.5;

		@include mediumScreen {
			flex: 1.5;
		}
	}

	&__title {
		margin-bottom: 1.5rem;
		padding-left: 2px;

		@include smallScreen {
			padding-left: 0px;
			text-align: center;
		}

		& h2 {
			color: red;
			font-weight: bold;
			font-size: 1.75rem;
		}
	}
}