.add-flat {
	padding: 2rem;
	background-color: $white;
	box-shadow: 1px 1px 8px 0px $box-shadow;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	flex: 1;

	&,
	&__row {
		display: flex;
		flex-direction: column;
	}

	&__row {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	&__label {
		font-size: 1.4rem;
		color: $grey;
		margin-bottom: 2px;
	}

	&__field {
		outline: none;
		padding: 4px 8px;
		font-size: 1.7rem;
	}

	&__select,
	&__text-field,
	&__text-area {
		color: $grey;
	}

	&__select {
		outline: none;
		padding: 4px 8px;
		font-size: 1.8rem;
		border-color: #d0d0d0;
		border-radius: 0px;
		height: 34px;
	}

	&__text-field,
	&__text-area {
		padding: 6px 8px;
		border-radius: 4px;
		border: 1px solid #c1c0c0;
		font-size: 1.6rem;
		outline: none;
	}

	&__text-area {
		resize: none;
		height: 100px;
	}
}