.footer {
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	flex-direction: column;
	padding: 1.5rem 3rem;
	background-color: $green;
	color: white;
	text-align: center;

	& span {
		display: inline-block;
	}
}