.flats {
	padding: 2rem 1rem;
	background-color: $light-grey;
	min-height: 40vh;

	@include tinyScreen {
		padding: 3rem 2rem;
	}

	&,
	&__container {
		flex-direction: column;
		text-align: center;
	}

	&,
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__container {
		padding: 2rem 0rem;
		width: 100%;
		max-width: 1200px;
	}

	&__single-flat {
		display: flex;
		width: 80%;
		margin: 2rem auto;
		border-radius: 16px;
		flex-direction: row;
		background-color: $white;
		max-width: 800px;
		box-sizing: border-box;
		box-shadow: 1px 1px 8px 0px $box-shadow;
		padding: 1.5rem 2.5rem;
		text-align: left;
		justify-content: flex-start;

		@include tinyScreen {
			width: 100%;
		}
	}

	&__top-box {
		width: 100%;
		display: flex;
	}

	&__single-image-box {
		width: 50%;
		display: flex;
	}

	&__image {
		height: 100%;
		width: 100%;
	}

	&__bottom-box {
		display: flex;
		padding: 1rem 0rem 0rem;
		text-align: left;
		flex-direction: column;
		justify-content: flex-start;

		& div {
			margin-top: 0.1rem;
		}

		& span {
			font-size: 1.4rem;
		}
	}

	&__contact-box {
		font-weight: bold;
		background-color: $red;
		display: block;
		color: $white;
		padding: 8px;
		border-radius: 10px;
		margin-top: 1rem;
		max-width: 200px;
		text-align: center;
	}

	&__price,
	&__title {
		color: $red;
		font-weight: bold;
	}

	&__information,
	&__picture {
		width: 50%;
	}

	&__picture {
		display: flex;
		justify-content: flex-end;
	}

	&__single-information {
		display: block;
		color: $grey;
	}

	&__title {
		font-size: 1.8rem;
	}

	&__description {
		font-size: 1.5rem;
		font-family: "Noto Sans", sans-serif;
		color: #68686d;
	}

	&__adress {
		color: $dark-grey;
		font-weight: bold;
		font-size: 1.5rem;
	}

	&__image {
		height: 145px;
	}
}